<html>
<head>
        <!--
            <link rel="stylesheet" type="text/css" href="http://rii.uthscsa.edu/mango/papaya/papaya.css" />
            <script type="text/javascript" src="http://rii.uthscsa.edu/mango/papaya/papaya.js"></script>
        -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='papaya.css')}}" />
        <script type="text/javascript" src="{{ url_for('static', filename='papaya.js')}}"></script>
        <title>Papaya Viewer</title>
        <script type="text/javascript">
            var params = [];
            params["images"] = ["{{ url_for('static', filename=volume_file)}}"];
            params["surfaces"] = ["{{ url_for('static', filename=surface_file)}}"];
        </script>
</head>
<body>
    <div class="papaya" data-params="params"></div>
</body>
</html>

